.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.container {
    margin-top: 10%;
    margin-left: 35%;
    width:500px;
    height:500px;
    color: #fff;
}
